# OS Garbage
*.DS_Store
[Tt]humbs.db

# Visual Studio
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log

# ReSharper
_ReSharper.*
*.resharper

# NuGet
packages/

# Build
build/
packaging/
test/
tools/
!tools/NuGet/